---
layout: default
title: Sébastien Sommelier
---

{% include header.html %}
{% include nav-menu.html %}
<div class="slider">

</div>
<div class="row">
    <div class="col-md-4">
        <div class="card text-md-center">
            <div class="card-block">

                <h2>Animation</h2>
                <p>Vous recherchez un sommelier pour animer un atelier thématique ou une soirée de dégustation
                    gastronomique
                    ? Faites appel aux services de Nick Hamilton…</p>
                <button type="button" class="btn btn-primary btn-lg">En savoir plus</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-md-center">
            <div class="card-block">
                <h2>Formations</h2>
                <p>Vous êtes un restaurateur et désirez former votre personnel de service; passionné du vin, vous
                    recherchez une formation sur mesure répondant à vos besoins ?</p>
                <button type="button" class="btn btn-primary btn-lg">En savoir plus</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-md-center">
            <div class="card-block">
                <h2>Chroniques</h2>
                <p>Vous recherchez l’avis d’un expert en vins, bières et spiritueux pour alimenter une chronique ou
                    prendre
                    part à une émission télévisuelle ou radiophonique ?</p>
                <button type="button" class="btn btn-primary btn-lg">En savoir plus</button>
            </div>
        </div>
    </div>
</div>

<div class="fullSize-separator text-xs-center">
    <h2>Vous êtes un restaurateur et désirez former votre personnel de service; passionné du vin, vous recherchez une formation
        sur mesure répondant à vos besoins ?</h2>
    <button type="button" class="btn btn-primary btn-lg">Découvrez nos cours</button>
</div>
