<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Les conseillers du vin</h3>
                <p>Cours, ateliers et dégustations de vin par Nick Hamilton. Consultation privée, animation de soirées
                    et conférences.</p>
            </div>
            <div class="col-md-4">
                <h3>Contact</h3>
                <p>6417, rue St-Denis
                    Montréal, Québec
                    H2S 2R8
                    Tél. : 514 271-2175
                    Fax : 514 271-4172</p>
            </div>
            <div class="col-md-4">Abonnez-vous à l'infolettre</div>
        </div>
    </div>
</footer>